[submodule "Source/abseil/abseil"]
	path = Source/abseil/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "Source/grpc/grpc"]
	path = Source/grpc/grpc
	url = https://github.com/grpc/grpc.git
[submodule "Source/protobuf/protobuf"]
	path = Source/protobuf/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "Source/re2/re2"]
	path = Source/re2/re2
	url = https://github.com/google/re2.git
